ENV=dev
HOST=0.0.0.0
PORT=3000

######################################### REPOSITORY FILES DIRECTORY #########################################
REPOSITORY_FILES_DIR=/home/esteban/DataStorage
######################################### REPOSITORY FILES DIRECTORY #########################################